<html>
  <head>
    <title> Shop </title>
    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>
  <body>
    <h1> Lolz and cats shop </h1>
    <%= yield %>
    <a href="/"> Home </a>
    <a href="/basket"> Basket </a>
  </body>
</html>
