<h2> Product </h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td>
      <form action="/basket" method="post">
        <input type="hidden" name="product_id" value=<%= product.id %>>
        <input type="number" name="quantity" value=1>
        <input type="submit" value="Add to basket">
      </form>
      </td>
    </tr>
  </tbody>
</table>
